.App {
  text-align: center;
  background-color: #96C4D8;
  position: absolute;
  top: 0;bottom: 0;right: 0;left: 0;
}

h2 {
  color: #0D2D49;
  margin-top: 8px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0D2D49;
}

h3 {
  color: #0D2D49;
}

p {
  color: #0D2D49;
}

.info-bg {
  height: 270px;
  width: 200px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border-width: 2px;
  border: solid #2F506D;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 125px;
  margin-right: 60px;
  justify-content: center;
}

.playBtn {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.map-canvas {
  background-color: #fff;
  border-radius: 50px;
  border-width: 2px;
  border: solid #2F506D;
  margin-bottom: 10px;
}

.tabText {
  position: absolute;
  transform:  translateY(-50%) translateX(-50%) rotate(90deg);
  color: #2F506D;
  font-weight: bold;
  left: 50%;
  top: 35%;
}

.tab {
  height: 120px;
  width: 32px;
  position: relative;
  transition: 1s;
  background-color: #FFFFFF;
  border-width: 2px;
  border: solid #2F506D;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 2px;
  padding-right: 7px;
  color: #2F506D;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  border-width: 2px;
  border: solid #000000;
  margin-top: 10px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.circleText {
  margin-top: 7px;
  font-size: 13px;
}

.img-style {
  border-radius: 15px;
  width: 15%;
  float: left;
  margin-left: 2.5%;
}
p {
  font-family: "Quicksand", sans-serif;
}

.intro-text {
  text-align: center;
  font-family: "Balsamiq Sans", cursive;
}

.link {
  -webkit-transition: color 0.65s ease-out;
  -moz-transition: color 0.65s ease-out;
  -o-transition: color 0.65s ease-out;
  -ms-transition: color 0.65s ease-out;
  transition: color 0.65s ease-out;
  color: #0D2D49 !important;
  text-shadow: 0.5cm;
  text-decoration: none !important;
  font-weight: bold;
}

.link:hover {
  -webkit-transition: color 0.65s ease-out;
  -moz-transition: color 0.65s ease-out;
  -o-transition: color 0.65s ease-out;
  -ms-transition: color   0.65s ease-out;
  transition: color 0.65s ease-out;
  color:  #2F506D !important;
  font-weight: bold;
}

.two-title {
  text-align: center;
  color: #cae00f !important;
  font-size: 3em;
}

.steps {
  margin-left: 2%;
}

.picture {
  float: right;
  margin-right: 5%;
  width: 55%;
}

.navbar-brand {
  font-family: "Titan One", sans-serif;
  font-size: 1.5rem !important;
  color: #34374C !important;
}

.nav-item {
  font-family: "Didact Gothic", cursive;
  font-size: 1.25rem !important;
  color: #606470;
}

.navbar {
  background: transparent;
  border-radius: 1%/20%;
  margin: 0.5% 0.5% 0 0.5%;
  backdrop-filter: blur(3px);
  position: fixed !important;
  top: 0;
  z-index: 1030;
  width: -webkit-fill-available;
}

.active {
  color: #2C2E3E !important;
}