:root {
  --main-color: #2F506D;
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #fff;
  --mark-color: #aaaaaa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.customSlider {
  width: 800px;
}

.customSlider-track {
  top: 8px;
  height: 8px;
  border-radius: 5px;
  background: var(--track-color);
}

.customSlider-track.customSlider-track-0 {
  background: var(--main-color);
}

.customSlider-thumb {
  cursor: pointer;
  background: var(--main-color);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  outline: none;
}

.customSlider-thumb:hover {
  box-shadow: 0 0 0 8px var(--main-color-hover);
}

.customSlider-mark {
  cursor: pointer;
  top: 6px;
  width: 1.5px;
  height: 8px;
  background-color: var(--mark-color);
}

.customSlider-mark.customSlider-mark-before {
  background-color: var(--main-color);
}

.customSlider-mark.customSlider-mark-active {
  display: none;
}